*{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}
.logo{
  font-size: 30px;
  cursor: pointer;
}
.nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.menu{
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}
li{
  list-style-type: none;
  cursor: pointer;
}
li:hover{
  color: rgb(32, 130, 191);
}
.colorOfMenuEl{
  color:rgb(32, 130, 191);
}
.drop{
  font-size: 11px;
}
button{
  width: 15%;
  padding: 1.2% 0;
  border: none;
  border-radius: 3px;
  background-color: rgb(32, 130, 191);
  color: white;
  cursor: pointer;
}
.button:hover{
  box-shadow: 6px 6px 4px rgb(101, 100, 100);;
}
.colorDarkBlue{
  color: rgb(14, 51, 78);
}
.colorDarkGrey{
  color: rgb(67, 66, 66);
}

.content{
  background-image: url(elegant-white-background-free-vector.jpg);
  background-size: 100% 100%;
}
.firstPartOfContentWithLargeText{
  padding: 8% 0; 
  text-align: center;
}
.largeText{
  font-size: 40px;
  font-weight: bold;
}
.textTeamDesigners{
  font-size: 20px;
  padding: 0.8% 0 1.5% 0;
}

.secondPartOfContentWithBlocks{
  display: flex;
  justify-content: space-evenly;
  padding: 0 8% 11% 8%;
}
.containerOfBlock{
  width: 15%;
  padding: 3% 2%;
  background-color: rgba(218, 216, 216, 0.7);
  cursor: pointer;
}
.containerOfBlock:hover{
  box-shadow: 10px 10px 20px rgb(14, 51, 78);
}
.icon{
  font-size: 30px;
  color: rgb(32, 130, 191);
}
.blockName{
  font-weight: bold;
  padding: 7% 0;
}