*{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}
.logo{
  font-size: 30px;
  color: rgb(21, 73, 114);
}
.nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.menu{
  width: 85%;
  color: rgb(21, 73, 114);
  display: flex;
  justify-content: space-evenly;
}
li{
  list-style-type: none;
  cursor: pointer;
}
.colorOfMenuEl{
  color:rgb(32, 130, 191);
}
.drop{
  font-size: 11px;
}
button{
  width: 15%;
  padding: 1.2% 0;
  border: none;
  border-radius: 3px;
  background-color: rgb(32, 130, 191);
  color: white;
  cursor: pointer;
}

/* .content{
  
} */